body{
	width:95%;
	margin: 0 auto;
	background-color: #b3d1ff;
	padding: 0;
	margin-top: 5px;
}
.row{
	background-color: #ededed;
}
.body-content{
	padding: 0px;
	margin-top: 5px;
}
.left-block{
	background-color: #BDCAD6;
	height: auto;

}
.logo{
	height: 200px;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 0px;
}
.btn-menu-left{
	width: 100%;
}
.left-footer{
 float: left;
 
}
.right-social{
	float: right;
}
.followup{
	color: #337AB7;
}
.copy-right{
	text-align: center;
	font-size: 20px;
}
.footer-area{
	background-color: #FAFCF9;
}

/*download-lecture-notes sttle start*/
.lecture-notes{
	border-bottom: 2px solid #B3D1FF;

}
table thead tr{
	border: 1px solid #B3D1FF;
}
/*download-lecture-notes sttle end*/
/*personal info start*/
.pesonal-info{
background-color: #fff;
}
/*personal info end*/